body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#headContainer{
  background-color: 'blue';
}
#heade{
  color: 'white';
  padding: 20;
  font-size: 22;
  font-weight: 'bold';
  text-align: 'center';
}

  #container {
    flex: 1;
    background-color: '#b8b8b8';
  }
  #inputBox {
    margin-top: 50;
    width: '80%';
    align-self: 'center';
    height: 40;
    text-align: 'center';
    border-width: 4;
    outline: 'none';
  }
  .goButton {
    width: '50%';
    height: 55;
    align-self: 'center';
    padding: 10;
    margin: 10;
  }
  .buttonText {
    text-align: 'center';
    font-size: 30;
    font-weight: 'bold';
  }
  .displayText {
    text-align: 'center';
    font-size: 30;
    color: 'white';
  }
  .imageIcon {
    width: 150;
    height: 150;
    margin-left: 95;
  }
  .chunkButton{
    width: '60%';
    height: 50;
    justify-content: 'center';
    align-items: 'center';
    align-self: 'center';
    border-radius: 10;
    margin: 5;
    background-color: 'red';
  }

